@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
#box{
    position:relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg) rotateY(10deg);
    
    /* la rotation baby*/

}
.gira{
    animation: giracion 10s linear infinite;
}
@keyframes giracion {
    0%{
        transform: rotateX(-30deg) rotateY(360deg);
    }
    100%{
        transform: rotateX(-30deg) rotateY(360deg);
    }
}
#box::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: rgba(17, 17, 17, 0.685);
    transform: rotateX(90deg) translateZ(-220px);
    filter: blur(20px);
}
#box div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
#box div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}
#box div span:nth-child(1){
    transform: rotateY(0deg) translate3d(0,0,150px);
    background: #d8aa77;

}
#box div span:nth-child(1)::before{
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    background: url(logo_meli.png );
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
}
#box div span:nth-child(2){
    transform: rotateY(90deg) translate3d(0,0,150px);
    background: #ca9864;
}
#box div span:nth-child(3){
    transform: rotateY(180deg) translate3d(0,0,150px);
    background: #d8aa77;
}
#box div span:nth-child(3)::before{
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    background: url(logo_meli.png );
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
}
#box div span:nth-child(4){
    transform: rotateY(270deg) translate3d(0,0,150px);
    background: #ca9864;
}


#box  .toping{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #e8bb84;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(90deg) translate3d(0,0,150px);
}
#box  .toping::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 60px;
    background: #333 url(0001.jpg);
    background-size: 80px;
    background-position: center;
    
}
.tapex{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
    width: 120px;
    height: 60px;
    background: #333 url(0001.jpg);
    background-size: 80px;
    background-position: center;
    background-position-x: 50px;
}
span:nth-child(4) .tapex{
    transform: translateX(-50%) rotate(270deg);
    background-position-x: 48px;
}
header{
    width: 100%;
    height: 60px;
    position: fixed;
    top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
header button{
    width: 150px;
    margin: 10px 0;
    padding: 5px;
    border: none;
    border-radius: 3px;
    background: #FFF159;
    cursor: pointer;
}
header button:hover{
    background: #f5e63f;
}
footer{
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F0C900;
    font-weight: 100;
    cursor: default;
}
footer a{
    color: black;
    text-decoration: none;
    font-weight: 400;
    text-decoration: black;
}